@import "../../styles/base.scss";
@import "../../styles/variables.scss";

.BackgroundWrapper {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  font-family: "Roboto";
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}